<form method="POST">
    <div class="card">
        <div class="card-content">
            <h3>Producto</h3>
            <hr>
            <div class="row">
                <div class="input-field col s6">
                    <input id="nombre" name="nombre" type="text" class="validate" value="{{ producto.nombre }}">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s6">
                    <input id="marca" name="marca" type="text" class="validate" value="{{ producto.marca }}">
                    <label for="marca">Marca</label>
                </div>
            </div>
        </div>
        <div class="card-action">
            {{# if id }}
                <input type="hidden" name="id" value="{{ id }}">
            {{/ if }}
            <button type="submit" class="waves-effect waves-light btn">Guardar</button>
        </div>
    </div>
</form>
