<h1 align="center">Productos</h1>
<hr>
<table class="bordered responsive-table centered highlight striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Producto 1</td>
            <td>El Rayo</td>
            <td>
                <a href="/producto/editar/2" class="waves-effect waves-light btn">Editar</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Producto 2</td>
            <td>El wasa</td>
            <td>
                <a href="/producto/editar/3" class="waves-effect waves-light btn">Editar</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Producto 3</td>
            <td>El sdfsdf</td>
            <td>
                <a href="/producto/editar/5" class="waves-effect waves-light btn">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
