<div class="row">
    <div class="col s12">
        <h1 align="center">Productos</h1>
        <a href="/producto/crear" class="waves-effect waves-light btn">Nuevo</a>
    </div>
</div>
<hr>
<table class="bordered responsive-table centered highlight striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Opcion</th>
        </tr>
    </thead>
    <tbody>
        {{#each listaProductos}}
        <tr>
            <td>{{ inc @index }}</td>
            <td>{{ objeto.nombre }}</td>
            <td>{{ objeto.marca }}</td>
            <td>
                <a href="/producto/editar/{{ id }}" class="waves-effect waves-light btn">Editar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
